
{:host "fr.jimu.io"
 :uploads [{:from "dist/*"
            :to "/usr/static/jimengio/cdn/ruled-router-viewer/"}
           {:from "dist/{index.html,manifest.json}"
            :to "/usr/static/jimengio/ruled-router-viewer/"}]}
